<!-- views/partials/footer.ejs -->

<!--<p class="text-center text-muted">© Copyright 2016 Tony Lin</p>-->

    <div class="container">
        <!--<span class="text-center text-muted">© Copyright 2016 Tony Lin</span>-->
    </div>
