<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/email-registration.js"></script>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h2>verification</h2>
        <div id="sign-up-msg" class="alert alert-success" role="alert"><strong>Verification Success!</strong></div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
