<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title>Email &middot; <%= app_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascript/email.js"></script>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="enter-email" placeholder="From email" value="hloter@foxmail.com">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="enter-password" placeholder="Password">
        </div>
        <div id="sign-up-msg" class="" role="alert"></div>
        <a id="sign-up-btn" class="btn btn-lg btn-primary" href="#" role="button">sign up »</a>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
