
<!DOCTYPE html>
<html lang="en-US">
<head>
<script type="text/javascript" src="javascript/w3color.js"></script>

</head>
<body>


<div id="rgbresult" style="font-size:20px;font-weight:bold;font-family:Consolas, 'Courier New', Courier, monospace;line-height:80px;"><p id="rgbresulttext" style="">&nbsp;</p></div>
<div class="w3-col m4 w3-container w3-center">
      <p>RED</p>
      <input onchange="changeRGB()" oninput="changeRGB()" type="range" id="slideRed" name="slideRed" value="255" min="0" max="255">
      <div id="valRed2" xstyle="background-color:red;border-radius:5px;color:white;opacity:0.8">255</div>
    </div>
    <div class="w3-col m4 w3-container w3-center">
      <p>GREEN</p>
      <input onchange="changeRGB()" oninput="changeRGB()" type="range" id="slideGreen" name="slideGreen" value="99" min="0" max="255">
      <div id="valGreen2" xstyle="background-color:#00ff00;border-radius:5px;opacity:0.8">0</div>
    </div>
    <div class="w3-col m4 w3-container w3-center">
      <p>BLUE</p>
      <input onchange="changeRGB()" oninput="changeRGB()" type="range" id="slideBlue" name="slideBlue" value="71" min="0" max="255">
      <div id="valBlue2" xstyle="background-color:blue;border-radius:5px;color:white;opacity:0.8">0</div>
    </div>
</body>
<script>

changeRGB("r");
function changeRGB(x) {
  var col, r, g, b;
  r = document.getElementById("slideRed").value;
  g = document.getElementById("slideGreen").value;
  b = document.getElementById("slideBlue").value;
  col = w3color("rgb(" + r + "," + g + "," + b + ")");
    document.getElementById('valRed2').innerHTML = r;
    document.getElementById('valGreen2').innerHTML = g;
    document.getElementById('valBlue2').innerHTML = b;
    //document.getElementById('rgbresult').style.backgroundColor = col.toRgbString();
    document.getElementsByTagName('body')[0].style.backgroundColor = col.toRgbString();
    document.getElementById('rgbresulttext').innerHTML = col.toRgbString();
  if (col.isDark(150)) {
    document.getElementById('rgbresulttext').style.color = "#ffffff";
  } else {
    document.getElementById('rgbresulttext').style.color = "#1f2d3d";
  }
}
</script>

</html>
