<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title>Upload &middot; <%= app_name %></title>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <script src="/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="/javascript/upload.js"></script>
</header>
<main>
    <div class="jumbotron">
        <div id="dropzone">
            <form id="upload" class="dropzone" method="post" action="/<%= app_name %>/upload/upload-file"
                  enctype='multipart/form-data'>
                <div class="fallback">
                    <input name="file" type="file">
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
